body
{
    background-color: #206A5D;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container
{
    width: 200px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#container #scoreboard
{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

#scoreboard div
{
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: cursive;
}

#scoreboard #player-score
{
    background-color:#81B214;
}

#scoreboard #pc-score
{
    background-color: #F58634;
}

#coin #coin-sides
{
    width: 200px;
    height: 160px;
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coin-sides div
{
    width: 100px;
    aspect-ratio: 1/1;
    background-color: #FFCC29;
    border-radius: 50%;
    border: 3px #F58634 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F58634;
    font-family: cursive;
    font-size: 25px;
    position: absolute;
    backface-visibility: hidden;
    transform-origin: center;
}

#coin-sides #tail
{
    transform: rotateX(180deg);
}

@keyframes flip-to-head
{
    0% {
        transform: rotatex(0);
    }
    30% {
        transform: rotatex(3600deg);
    }
    90%{
        transform: rotateX(3600deg);
    }
    100%{
        transform: rotateX(0);
    }
}

@keyframes flip-to-tail
{
    0% {
        transform: rotatex(0);
    }
    30% {
        transform: rotatex(3780deg);
    }
    90%{
        transform: rotateX(3780deg);
    }
    100%{
        transform: rotateX(0);
    }
}

#container #buttons
{
    height: 100px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#buttons #itshead
{
    background-color: #206A5D;
    border: 2px solid ;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-family: cursive;
    color: #ffffff;
    border: #206A5D 2px solid;

}

#buttons #itstail
{
    background-color: #206A5D;
    border: 2px solid ;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-family: cursive;
    color: #ffffff;
    border: 2px #206A5D solid;

}

#buttons #reset
{
    background-color: #ffffff;
    border: 2px solid ;
    width: 174px;
    height: 40px;
    border-radius: 5px;
    font-family: cursive;
    color: #206A5D;
    border: 2px solid #206A5D;

}